---
import { getCollection } from "astro:content";
import { Tag } from "lucide-react";
import Layout from "@/layouts/Layout.astro";
import Breadcrumbs from "@/components/Breadcrumbs.astro";

const notes = await getCollection("notes");

// Tags nested immediately under the current tag
const rootTags = new Set<string>();
for (const note of notes) {
  for (const noteTag of note.data.tags ?? []) {
    const parts = noteTag.replace(/^\//, "").split("/");
    if (parts.length > 0 && parts[0] !== "") {
      rootTags.add(parts[0]);
    }
  }
}

type tagEntry = {
  type: "tag";
  name: string;
  href: string;
};

// Only top level tags
const items: tagEntry[] = [
  ...Array.from(rootTags)
    .map(
      (name) =>
        ({
          type: "tag",
          name,
          href: `/tags/${name}`,
        }) as tagEntry,
    )
    .sort((a, b) => a.name.toLowerCase().localeCompare(b.name.toLowerCase())),
];
---

<Layout ogImage="/og/maril.png">
  <Breadcrumbs path="" type="tags" isFolder={true} />
  <div class="rounded-md border mt-8">
    <table class="table-fixed border-collapse w-full">
      <thead>
        <tr>
          <th class="w-full"></th>
          <th class="align-right w-30"></th>
        </tr>
      </thead>
      <tbody>
        <tr class="bg-muted/50">
          <td colspan="2" class="py-2 px-4">
            <div class="flex items-center gap-4 text-muted-foreground">
              <span class="flex items-center gap-1">
                <Tag className="w-[1em] mr-1" />
                {rootTags.size} root tags</span
              >
            </div>
          </td>
        </tr>
        {
          items.map((item) => (
            <tr class="border-t">
              <td class="py-2 px-4">
                <div class="flex flex-row items-center gap-2">
                  <Tag className="flex-none w-4" />
                  <a
                    href={item.href}
                    class="text-nowrap overflow-hidden text-ellipsis text-ellipsis hover:text-primary"
                  >
                    {item.name}
                  </a>
                </div>
              </td>
              <td class="px-4" />
            </tr>
          ))
        }
      </tbody>
    </table>
  </div>
</Layout>
