---
import { BookOpen, Hash } from "lucide-react";
import { toSlug } from "@/utils/slug";

type Props = {
  path: string;
  type: "notes" | "tags"; // <-- choose which breadcrumb type
  isFolder?: boolean;
};

const { path, type, isFolder = false } = Astro.props;

const splitPath = path ? path.split("/") : [];
let partialPath = `/${type}`;

const isNotes = type === "notes";
const Icon = isNotes ? BookOpen : Hash;
const rootHref = `/${type}/`;
---

<nav class="text-lg text-foreground items-center">
  <ul class="flex flex-wrap items-center gap-2">
    <li>
      {
        path.length === 0 ? (
          <Icon className="w-[1.5em]"/>
        ) : (
          <a
            href={rootHref}
            class="text-muted-foreground hover:text-primary"
            aria-label={type}
          >
            <Icon className="w-[1.5em]"/>
          </a>
        )
      }
    </li>

    <li
      class={`cursor-default ${path.length !== 0 ? "text-muted-foreground" : ""}`}
    >/</li>

    {
      splitPath.map((part, idx) => {
        partialPath += `/${part}`;
        const isLast = idx === splitPath.length - 1;

        const href = isNotes ? `${toSlug(partialPath)}/` : partialPath;

        return isLast ? (
          isFolder && (
            <>
              <li>
                <span>{part}</span>
              </li>
              {isFolder && <li class="cursor-default">/</li>}
            </>
          )
        ) : (
          <>
            <li>
              <a href={href} class="text-muted-foreground hover:text-primary">{part}</a>
            </li>
            <li class="text-muted-foreground cursor-default">/</li>
          </>
        );
      })
    }
  </ul>
</nav>
